<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <title>Ink Blot Aggregator </title>
</head>
<body>
    <div class="edit-container">
        <img src="<%=entry.image %>">
        <p>Statement: <%=entry.statement %></p>
        <p>Comment: <%=entry.comments.text %></p>
        </div>

    <form action="/rorschach-test/<%=entry.id%>/edit?_method=PUT" method="POST">
        <textarea name="comments" value="comments" rows="6" cols="30">
        </textarea><br/>
        <input type="submit" value="Submit"/><br/>
    </form>    
    <!-- DELETE FORM -->

    <form action="/rorschach-test/<%=entry.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>

</body>
</html>