<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <title>Ink Blot Aggregator</title>
</head>
<body id="submission-body">

    <nav class="submission-header">
        <h1>Past Submissions</h1>
        <a href="/rorschach-test">Home</a>
        <a href="/rorschach-test/create">Create a Caption</a>
    </nav>
    <div class="display-container">
        
<% userDb.sort((a, b) => { %>
    <% return new Date(b.createdAt) - new Date(a.createdAt) %>
        <%  }) %>

            <% for (let i = 0; i < userDb.length; i++) { %>
                <p><%=userDb[i].updatedAt %></p>
                <img src="<%=userDb[i].image %>" alt="" width="275" height="200"></br>
                <p id="statement-text"><%=userDb[i].statement %></p>
                <h4>comments:</h4>
                <p id="comment-text"><%=userDb[i].comments %></p>
                <a href="/rorschach-test/<%=userDb[i].id %>/edit">Leave A Comment</a>
         <%  } %>
        

    </div>
</body>
</html>